<% include partials/header %> 
<% include partials/headermenu %> 


  <div class="col-xs-12 col-md-8">


<div class="animated zoomIn">
<div class="row products text-center" style="display: flex; flex-wrap: wrap">
  <% products.forEach(function(p){ %>
  
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 p-3">
      <div class="img-thumbnail mag">
      <a class="pa" href = "/products/<%= p.category %>/<%= p.slug %>">
        <img class="pimage" src="/product_images/<%= p.id %>/<%= p.image %>">
      </a>
      <h4><%= p.title %></h4>
      <h5 style="color:#620406"><strong><%= parseFloat(p.price).toFixed(2) %> руб.</strong></h5>
      <p></p>
      <a href="/cart/add/<%= p.slug %>" class="btn btn-sm btn-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> В корзину</a>
      <a class="vd btn btn-sm btn-primary" href="/products/<%= p.category %>/<%= p.slug %>">Описание...</a>
      <p></p>
    </div>
    </div>
  <% }); %>
</div>
</div>
<br>
<nav aria-label="...">
          <% if (pag > 0) { %>
                <ul class="pagination justify-content-center">
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link"><<</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/products/p/1"><<</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pag; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li><a class="page-link" href="/products/p/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pag) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pag) { %>
                        <li class="page-item disabled"><a class="page-link">>></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/products/p/<%= pag %>">>></a></li>
                    <% } %>
                </ul>
            <% } %>
</nav>  
</div>
</div>
</div>





