<% include partials/header %> 
<% include partials/headermenumob %> 

<link rel="stylesheet" href="/stylesheets/style.css">

  <div class="col-xs-12 col-md-8">
<strong style="text-align:center; font-size:24px; border-bottom:1px solid black"><%= title %></strong><p></p>    
<div class="animated zoomIn">
<div class="row products text-center" style="display: flex; flex-wrap: wrap">
  <% products.forEach(function(p){ %>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 p-3">
      <div class="img-thumbnail mag">
      <a class="pa" href = "/products/<%= p.category %>/<%= p.slug %>">
        <img class="pimage" src="/product_images/<%= p._id %>/<%= p.image %>">
      </a>
      <h5><%= p.title %></h5>
      <h5 id="prr"><strong><%= parseFloat(p.price).toFixed(2) %> руб.</strong></h5>
      <p></p>
      <a href="/cart/add/<%= p.slug %>" class="btn btn-sm btn-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> В корзину</a>
      <a class="vd btn btn-sm btn-primary" href="/products/<%= p.category %>/<%= p.slug %>">Описание...</a>
      <p></p>
    </div>
    </div>
  <% }); %>
</div>
</div>
</div>
</div>
</div>
